{% extends "layout.html" %}

{% block title %}
    Add Ingredients
{% endblock %}

{% block main %}

    <header>
        <div>
            <h1>
                New Ingredients!
            </h1>
        </div>
    </header>

    <body>
        <p></p>
        <div class="body">
            <p id="error"></p>
            <form action="/add2" method="post">
                <div class="header">Add Ingredients</div>
                    <h4>Some of the ingredients you entered are not yet in our database! Select the type of each ingredient and save to add them.</h4>
                <p></p>

                <table class="add">
                    <thead>
                        <tr>
                            <th>Ingredient</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ingredient in ingredients %}
                            <tr>
                                <td class="ingredient"><h4> {{ ingredient }} </h4>
                                <input type="hidden" name="ingredient" value="{{ ingredient }}"></td>
                                <td>
                                    <select name="type" id="type">
                                        <option disabled selected>Select Type</option>
                                    {% for type in types %}
                                        <option value="{{ type }}">{{ type }}</option>
                                    {% endfor %}
                                    </select>
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
                <p></p><button type="submit" class="button" id="submit">Save</button>
            </form>
        </div>
    </div>
    </body>
    <p></p>
    <p></p>



{% endblock %}