{% extends "layout.html" %}

{% block title %}
    Forgot Password
{% endblock %}

{% block main %}
    <form action="/forgot" method="post">
        <div class="body">
            <div class="header">Forgot Password</div>

        {{ error }}
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email Address" type="email">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="Re-enter Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
</div>
{% endblock %}
