{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="body">
            <div class="header">Login</div>
            {{ error }}
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <h4><a class="link" href="/forgot">Forgot Password</a></h4>
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
    <p><h4>Don't have an account?</h4> <a class="link" href="/register">Register here.</a></p>
</div>
{% endblock %}
